* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("https://wallpaperaccess.com/full/39033.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
}

header {
    background-color: #204b5e;
}

.logo {
    
}

h1 {
    box-sizing: border-box;
    display: inline;
}

nav {
    padding: 20px;
    border: 5px;
    text-align: center;
    word-spacing: 30px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: black;
}

a:active {
    font-size: 50px;
}


main {
    background-color: aliceblue;
    min-height: 80vh;
    margin: 20px;
    padding: 10px;
    border: 10px;
    text-align: justify;
}

div {
    margin: 20px;
}

h2 {
    text-align: center;
    padding: 10px;
}

h3{
    padding: 10px;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

footer {
    background-color: cadetblue;
    height: 10%;
    clear: both;
    padding: 10px;
    text-align: center;
}

.imagens{
    display: block;
    margin-left: auto;
    margin-right: auto;
}