@charset "UTF-8";

* {
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen";
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-image: url("https://images.pexels.com/photos/8217357/pexels-photo-8217357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 30em;
    background-size: cover;
    text-align: center;
}

header div ul {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}

header div ul li {
    display: inline-block;
    border: 0.2em;
    border-color: white;
    border-style: solid;
    padding: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    background-color: rgba(0, 0, 0, 0.438);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

header h1 {
    padding-top: 15%;
    text-align: center;
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em 0.2em
}

header div p {
    max-width: fit-content;
    padding: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    background-color: rgba(0, 0, 0, 0.438);
    border-bottom: 0.2em solid white;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

li ul {
    display: none;
}

.espaco {
    margin: 5em;
}

.img1 {
    background-image: url("https://images.pexels.com/photos/147413/twitter-facebook-together-exchange-of-information-147413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    width: 20em;
    height: 20em;
}

.img2 {
    background-image: url("https://images.pexels.com/photos/1092671/pexels-photo-1092671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    width: 20em;
    height: 20em;
}

.img3 {
    background-image: url("https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    width: 20em;
    height: 20em;
}

main {
    background-color: rgb(199, 197, 197);
}

main section div {
    display: inline-block;
}

main section {
    text-align: center;
}


.bloco {
    border: 1em;
    border-color: white;
    border-style: solid;
    margin: 1em;
    background-color: white;
    word-spacing: 1em;
}

.legenda {
    background-color: gray;
    border-bottom: 0.em solid gray;
    color: white;
    padding: 1em;
    text-align: left;
    margin-top: -.3em;
    word-spacing: 0.1em;
}


.bloco1 {
    border-color: white;
    border-style: solid;
    background-color: white;
    margin-bottom: 1em;
    width: 65em;
}

.section2 {
    border-bottom: 0.2em solid gray;
    padding: 0.5em;
    font-size: 120%;
    font-weight: bolder;
    text-align: left;
    width: 53em;
    margin: 0.1em;
}

.pzinho {
    text-align: left;
    margin-bottom: .5em;
    margin-top: .5em;
    padding: .5em;
}


footer {
    background-color: gray;
    height: 2em;
    clear: both;
    padding: 2em;
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}

@media screen and (max-width: 50.75em) {

    .legenda {
        margin-bottom: 2em;
    }

    .bloco {
        margin: 0;
    }

    .bloco1 {
        margin-top: 1em;
    }

    main {
        margin-top: 2em;
    }

    header div ul {
        float: none;
        margin-top: auto;
        margin-right: auto;
        padding-left: 0;
        padding: 2em;
    }

    header div ul li {
        display: block;
        border: 0.2em;
        border-color: white;
        border-style: solid;
        margin: 0.2em;
        left: 0;
        background-color: rgba(0, 0, 0, 0.438);
        text-transform: uppercase;
    }

    .espaco {
        margin-top: 3em;
    }

    header h1 {
        padding-top: 0;
        text-align: center;
        color: white;
        font-size: 2em;
        text-transform: uppercase;
        text-shadow: black 0.1em 0.1em 0.2em
    }

    header div p {
        max-width: fit-content;
        padding: .3em;
        background-color: rgba(0, 0, 0, 0.438);
        border-bottom: 0.3em solid white;
        color: white;
    }
}