* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("https://images.pexels.com/photos/8217357/pexels-photo-8217357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 450px;
    background-size: cover;
}

header div ul {
    float: right;
    margin-top: 15px;
    margin-right: 40px;
}

header div ul li {
    display: inline-block;
    border: 2px;
    border-color: white;
    border-style: solid;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.438);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

header h1 {
    padding-top: 15%;
    text-align: center;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em 0.2em
}

header div p {
    max-width: fit-content;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.438);
    border-bottom: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.espaco {
    margin: 50px;
}

.img1 {
    background-image: url("https://images.pexels.com/photos/147413/twitter-facebook-together-exchange-of-information-147413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    width: 300px;
    height: 300px;
}

.img2 {
    background-image: url("https://images.pexels.com/photos/1092671/pexels-photo-1092671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    width: 300px;
    height: 300px;
}

.img3 {
    background-image: url("https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    width: 300px;
    height: 300px;
}

footer {
    background-color: gray;
    height: 20px;
    clear: both;
    padding: 25px;
    text-align: center;
    color: white;
}

main {
    background-color: rgb(199, 197, 197);
    margin: 0%;
}

main section div {
    display: inline-block;
}

.bloco {
    border: 10px;
    border-color: white;
    border-style: solid;
    margin: 10px;
    background-color: white;
    word-spacing: 3px;
    padding: 0%;
}

main section{
    text-align: center;
}

.bloco1 {
    border-color: white;
    border-style: solid;
    background-color: white;
    margin: 10px;
    width: 930px;
}

.section2{
    background-color: rgba(167, 162, 162, 0.438);
    border-bottom: 2px solid gray;
    padding: 10px;
    font-size: 120%;
    font-weight: bolder;
    text-align: left;
    width: 97%;
}

.legenda{
    background-color: gray;
    border-bottom: 2px solid gray;
    color: white;
    padding: 12px;
    text-align:left;
    margin-top: -5px;
}

.pzinho{
    text-align:left;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 6px;
}